* {
    box-sizing: border-box;
}

body {
    background: rgb(217 247 194);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* .main {
    min-height: 600px;
    background: #fff;
    border-radius: 1rem;
    padding: 1rem;
} */

table {
    width: 100%;
}

table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

td,
th {
    text-align: center;
    padding: .3rem 0;
    width: 100px;
}

table input {
    max-width: 74px !important;
    height: 100%;
}


td.action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.add {
    margin:1rem 0;
} 